<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xawl.car.dao.ErrorMapper">


	<insert id="insert" parameterType="com.xawl.car.domain.err">
		insert into db_err values(
		#{message},
		#{j_class},
		#{date}
		)
	</insert>
</mapper>