<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xawl.car.dao.GoodsMapper">
	



	<select id="getImage" resultType="string" parameterType="int">
		select
		image from db_image where  gid=#{gid}
	</select>
</mapper>