<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xawl.car.dao.HomeMapper">

	<select id="getHomeTop" resultType="com.xawl.car.domain.HomeTop">
		select image,url from db_home
		where
		type=0 and orders=0
	</select>
	<select id="getHomeActice" resultType="com.xawl.car.domain.HomeTop">
		SELECT url,title
		FROM
		db_home
		WHERE
		TYPE=1 AND isHot=1 AND orders=0 ORDER BY DATE LIMIT
		0,8
	</select>


	<select id="findPage" resultType="com.xawl.car.domain.HomeTop"
		parameterType="com.xawl.car.pagination.Page">
		select image,title,url,isHot from db_home where type=1
		and orders=0
		order by date
	</select>



	

	<select id="getCarCaseActive" resultType="com.xawl.car.domain.HomeTop">
		select url,image,title
		from db_home where orders=1 and type=1 order by date limit 0,8
	</select>

</mapper>