<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xawl.car.dao.MaintainBusinessMapper">

	<select id="query" parameterType="int"
		resultType="com.xawl.car.domain.MaintainBusiness">
		SELECT
		mbid,mbname,bshowImage,baddress,bphone,title1,title2,score,latitude,longitude,
		ROUND(6378.1380 *
		2.0 * ASIN(SQRT(
		POW((SIN(#{latitude} * PI() / 180.0
		-
		latitude
		* PI()
		/
		180.0) / 2.0), 2.0)
		+ COS(latitude * PI() / 180.0)
		*
		COS(latitude *
		PI() /
		180.0)
		* POW(
		SIN(( #{longitude}* PI() / 180.0 -
		longitude * PI()
		/ 180.0)
		/ 2.0),
		2.0))) * 1000.0) AS distance
		FROM
		view_ycbusiness_stages_title
		where mbid in(
		SELECT
		DISTINCT b.mbid FROM
		db_maintainbusiness b
		,db_service s WHERE
		b.`mbid`=s.`mbid` AND
		s.`type`=#{type}) ORDER BY distance asc
	</select>


	<select id="getHomeHot" resultType="com.xawl.car.domain.MaintainBusiness">
		SELECT
		mbid,mbname,baddress,bshowimage,longitude,latitude
		,bphone,title1,title2,isHot,score FROM
		view_ycbusiness_stages_title
		WHERE
		isHot=1 order by bdate desc
	</select>


	<select id="getHomeBydistance" parameterType="map"
		resultType="com.xawl.car.domain.MaintainBusiness">
		SELECT
		mbid,mbname,bshowImage,baddress,bphone,title1,title2,score,latitude,longitude,
		ROUND(6378.1380 *
		2.0 * ASIN(SQRT(
		POW((SIN(#{latitude} * PI() / 180.0
		-
		latitude
		* PI()
		/
		180.0) / 2.0), 2.0)
		+ COS(latitude * PI() / 180.0)
		*
		COS(latitude *
		PI() /
		180.0)
		* POW(
		SIN(( #{longitude}* PI() / 180.0 -
		longitude * PI()
		/ 180.0)
		/ 2.0),
		2.0))) * 1000.0) AS distance
		FROM
		view_ycbusiness_stages_title
		where isHot=1
		ORDER BY distance asc
	</select>


	<select id="getStore" parameterType="string"
		resultType="com.xawl.car.domain.MaintainBusiness">
		select
		mbid,mbname,baddress,bdate,bphone,uname,score,commentcount,PreferentialInformation,time,longitude,latitude
		from
		db_maintainbusiness where
		mbid=#{mbid}
	</select>


	<select id="getImage" resultType="string" parameterType="int">
		select
		image from db_image where mbid=#{mbid}
	</select>



	<select id="getCommentList" resultType="com.xawl.car.domain.Comment"
		parameterType="int">
		select
		comment_id,mbid,content,date,uname from db_comment
		where mbid=#{mbid}
	</select>


	<select id="getClean" resultType="com.xawl.car.domain.Service"
		parameterType="map">
		select
		sid,sname,sdesc,oldprice,newprice,mbid,type from
		db_service where type=#{type} and mbid=#{mbid} order by creatdate desc
	</select>

	<select id="login" resultType="com.xawl.car.domain.MaintainBusiness"
		parameterType="map">
		select mbid,mbname,baddress,bdate,bphone,uname
		from
		db_maintainbusiness where
		bphone=#{mlogin} and
		mpassword=#{mpassword}
	</select>

	<delete id="deleteByService" parameterType="string">
		delete from
		db_service where sid=#{sid}
	</delete>

	<insert id="insertService" parameterType="com.xawl.car.domain.Service">
		insert into db_service
		(sname,sdesc,oldprice,newprice,mbid,type,creatdate)
		values(
		#{sname},
		#{sdesc},
		#{oldprice},
		#{newprice},
		#{mbid},
		#{type},
		#{creatdate}
		)
	</insert>
	<update id="updateService" parameterType="com.xawl.car.domain.Service">
		update db_service
		<set>
			<if test="sname!=null and sname!=''">sname=#{sname},</if>
			<if test="sdesc!=null and sdesc!=''">sdesc=#{sdesc},</if>
			<if test="oldprice!=null and oldprice!=''">oldprice=#{oldprice},</if>
			<if test="newprice!=null and newprice!=''">newprice=#{newprice},</if>
			<if test="type!=null and type!=''">type=#{type},</if>
		</set>
		where sid=#{sid}
	</update>
</mapper>