<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xawl.car.dao.ModelMapper">


	<resultMap type="com.xawl.car.domain.VO.GoodsVO" id="GVO">
		<id column="gid" property="gid" />
		<result column="title" property="title" />
		<result column="gname" property="gname" />
		<result column="gimage" property="gimage" />
		<result column="maxprice" property="maxprice" />
		<result column="minprice" property="minprice" />
		<collection property="childs" ofType="com.xawl.car.domain.Model"
			column="childs">
			<id column="mid" property="mid" />
			<result column="mname" property="mname" />
			<result column="guidegprice" property="guidegprice" />
			<result column="gprice" property="gprice" />
			<result column="mshowImage" property="mshowImage" />
			<result column="mtitle" property="mtitle" />
		</collection>
	</resultMap>
	
	<select id="getById" parameterType="int" resultType="com.xawl.car.domain.Model">
		select
		`mid`,gid,gname,mname,guidegprice,mimage,configure,mtitle
		from db_model
		where
		`mid`=#{mid}
	</select>

	<select id="findByPrice" parameterType="map"
		resultType="com.xawl.car.domain.Model">
		select mid,gid,gname,mname,guidegprice,mshowImage,mtitle from
		db_model where
		guidegprice BETWEEN #{min} and #{max} and mid!=#{mid}
	</select>


	<select id="getAllById" parameterType="int" resultMap="GVO">
		SELECT
		m.mid,m.mname,m.guidegprice,m.gprice,m.mshowImage,g.title,g.gname,g.maxprice,g.minprice,g.gid,g.gimage,m.mtitle
		FROM
		db_model m,db_goods g WHERE m.gid=g.gid AND
		g.gid=#{gid}
	</select>

	<select id="getMax2Min" parameterType="int" resultType="map">
		SELECT
		MAX(guidegprice) `max`,MIN(guidegprice) `min` FROM db_model WHERE
		gid=#{gid} GROUP BY gid;
	</select>

	<select id="getCarByProperty" parameterType="com.xawl.car.domain.VO.ModelVO"
		resultType="com.xawl.car.domain.Goods">
		SELECT gid,gname,gshowImage,title,maxprice,minprice from db_goods
		WHERE gid
		in(
		select gid from db_model where 1=1
		<if test="level!=null">
			and level in
			<foreach collection="level" close=")" separator="," open="("
				item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test="output!=null">
			and output in
			<foreach collection="output" close=")" open="(" separator=","
				item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test="drive!=null">
			and drive in
			<foreach collection="drive" close=")" open="(" separator=","
				item="item" index="index">
				#{item}
			</foreach>
		</if>

		<if test="fuel!=null">
			and fuel in
			<foreach collection="fuel" close=")" open="(" separator=","
				item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test="transmission!=null">
			and transmission in
			<foreach collection="transmission" close=")" open="("
				separator="," item="item" index="index">
				#{item}
			</foreach>
		</if>

		<if test="country!=null">
			and country in
			<foreach collection="country" close=")" open="(" separator=","
				item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test="produce!=null">
			and produce in
			<foreach collection="produce" close=")" open="(" separator=","
				item="item" index="index">
				#{item}
			</foreach>

		</if>
		<if test="structure!=null">
			and structure in
			<foreach collection="structure" close=")" open="(" separator=","
				item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test="seat!=null">
			and seat in
			<foreach collection="seat" close=")" open="(" separator=","
				item="item" index="index">
				#{item}
			</foreach>
		</if>
		<if test="maxprice!=null and maxprice!=''">and #{maxprice}>=gprice</if>
		<if test="minprice!=null and minprice!=''">and gprice>=#{maxprice}</if>
		<if test="keyword!=null and keyword!=''">and keyword=#{keyword}</if>
		) limit ${(PageNo-1)*PageSize},#{PageSize}
	</select>



	<select id="getColors" parameterType="int"
		resultType="com.xawl.car.domain.CarColor">
		select colorName,colorKey,mid from db_color where
		mid=#{mid}
	</select>



	<select id="getbyMid2All" parameterType="int"
		resultType="com.xawl.car.domain.Order">
		SELECT
		b.`bid`,b.`bname`,b.`bphone`,m.`mname`,m.`mid`,g.`gid`,g.`gname` FROM
		db_model m,db_goods g,db_business b WHERE m.`gid`=g.`gid` AND
		g.`bid`=b.`bid` AND m.`mid`=#{mid}
	</select>
</mapper>