<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xawl.car.dao.ModelMapper">


	<select id="getAllById" parameterType="int"
		resultType="com.xawl.car.domain.Model">
		select mid,mname,gid,guideprice,gprice from db_model where
		gid=#{gid}
	</select>

	<select id="getMax2Min" parameterType="int" resultType="map">
		SELECT
		MAX(guidegprice) `max`,MIN(guidegprice) `min` FROM db_model WHERE
		gid=#{gid} GROUP BY gid;
	</select>




	<select id="getCarByProperty" parameterType="com.xawl.car.pagination.Page"
		resultType="com.xawl.car.domain.Goods">
		SELECT gid,gname,gfirstimage,title,maxprice,minprice FROM db_goods
		WHERE gid in
		(select gid from db_model where 1=1
		<if test="params.level!=null">
			and level in
			<foreach collection="params.level" close=")" open="(" separator=","
				item="item">
				#{item}
			</foreach>
		</if>
		<if test="params.output!=null">
			and output in
			<foreach collection="params.output" close=")" open="(" separator=","
				item="item">
				#{item}
			</foreach>
		</if>
		<if test="params.drive!=null">
			and drive in
			<foreach collection="params.drive" close=")" open="(" separator=","
				item="item">
				#{item}
			</foreach>
		</if>

		<if test="params.fuel!=null">
			and fuel in
			<foreach collection="params.fuel" close=")" open="(" separator=","
				item="item">
				#{item}
			</foreach>
		</if>
		<if test="params.transmission!=null">
			and transmission in
			<foreach collection="params.transmission" close=")" open="("
				separator="," item="item">
				#{item}
			</foreach>
		</if>

		<if test="params.country!=null">
			and country in
			<foreach collection="params.country" close=")" open="(" separator=","
				item="item">
				#{item}
			</foreach>
		</if>
		<if test="params.produce!=null">
			and produce in
			<foreach collection="params.produce" close=")" open="(" separator=","
				item="item">
				#{item}
			</foreach>

		</if>
		<if test="params.structure!=null">
			and structure in
			<foreach collection="params.structure" close=")" open="(" separator=","
				item="item">
				#{item}
			</foreach>
		</if>
		<if test="params.seat!=null">
			and seat in
			<foreach collection="params.seat" close=")" open="(" separator=","
				item="item">
				#{item}
			</foreach>
		</if>
		<if test="params.maxprice!=null and params.maxprice!=''">and #{maxprice}>=gprice</if>
		<if test="params.minprice!=null and params.minprice!=''">and gprice>=#{minprice}</if>
		)
	</select>
</mapper>