<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xawl.car.dao.OrderMapper">
	<insert id="insert" parameterType="com.xawl.car.domain.Order">
		insert into db_order
		(ordertime,total,status,uid,uname,bid,bname,bphone,uphone,mname,mid,gid,gname,color,buyWay,city,cardCity)
		values(
		#{ordertime},
		#{total},
		#{status},
		#{uid},
		#{uname},
		#{bid},
		#{bname},
		#{bphone},
		#{uphone},
		#{mname},
		#{mid},
		#{gid},
		#{gname},
		#{color},
		#{buyWay},
		#{city},
		#{cardCity}
		)
	</insert>


	<insert id="insertYcorder" parameterType="com.xawl.car.domain.YcOrder">
		insert into db_yc_order
		(bmname,price,ruid,sname,mbid,uid,uname,uphone,realprice,status,goodid,qid,date,type,bphone,mname,mid,gid,gname,color,buyWay,city,cardCity,bid,buytime,bname)
		values(
		#{bmname},
		#{price},
		#{ruid},
		#{sname},
		#{mbid},
		#{uid},
		#{uname},
		#{uphone},
		#{realprice},
		#{status},
		#{goodid},
		#{qid},
		#{date},
		#{type},
		#{bphone},
		#{mname},
		#{mid},
		#{gid},
		#{gname},
		#{color},
		#{buyWay},
		#{city},
		#{cardCity},
		#{bid},
		#{buytime},
		#{bname}
		)
	</insert>

	<select id="getOrders" parameterType="int"
		resultType="com.xawl.car.domain.YcOrder">
		select
		bmname,realprice,ruid,sname,yoid,mbid,uid,uname,uphone,status,goodid,qid,date
		from
		db_yc_order where mbid=#{mbid} and status in(0,1,2)
	</select>
	<update id="updateOrderStatusByYc" parameterType="map">
		update
		db_yc_order set status=#{status} where mbid=#{mbid} and yoid=#{yoid}
	</update>


	<update id="updateOrderYcStatus" parameterType="map">
		update
		db_yc_order
		set status=#{status} where goodid=#{goodid}
	</update>



	<select id="getByGoodid" parameterType="string"
		resultType="com.xawl.car.domain.YcOrder">
		select
		bmname,price,realprice,ruid,sname,yoid,mbid,uid,uname,uphone,status,goodid,qid,date
		from
		db_yc_order where goodid=#{goodid}
	</select>

	<update id="updateQid" parameterType="com.xawl.car.domain.YcOrder">
		update db_yc_order set
		qid=#{qid} where yoid=#{yoid}
	</update>

	<select id="findOrderByMap" parameterType="map"
		resultType="com.xawl.car.domain.YcOrder">
		select
		bmname,price,sname,yoid,ruid,mbid,uid,uname,uphone,status,goodid,qid,date,type,bphone,mname,mid,gid,gname,color,buyWay,city,cardCity,bid,buytime,bname
		from
		db_yc_order where type=#{type} and uid=#{uid} and status in
		(0,1,3,2,-3)
	</select>
</mapper>